img.is-256x256 {
	height: 256px;
	width: 256px;
}

.card {
	display: inline-block;
	margin: 6px;
	max-width: 256px;
	vertical-align: top;
}

.card-content {
	height: 512px;
	overflow-y: auto;
}