img.is-256x256 {
	height: 256px;
	width: 256px;
}

.card {
	display: inline-block;
	margin: 6px;
	max-width: 256px;
	vertical-align: top;
}

.card-content {
	height: 384px;
	overflow-y: auto;
}

.content {
	text-align: left;
}

@media screen and (max-width: 768px)
{
	.media-content {
			overflow-x: unset;
	}
}
