<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TurtleGeek.com{% if page.title != 'Home' %}&nbsp;&bull;&nbsp;{{ page.title }}{% else %} | Helping People Help Sea Turtles{% endif %}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/github-light.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
	<!-- REDIRECT TO TortAndJoie.com/TurtleGeek -->
	<meta http-equiv="refresh" content="0; url=https://www.tortandjoie.com/turtlegeek">
	<script type="text/javascript">
		window.location.href = "https://www.tortandjoie.com/turtlegeek"
	</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}{{ site.baseurl }}">TurtleGeek.com</a></h1>
        <p>Helping People Help Sea Turtles</p>
      </header>
      <section>
        <div class="container">
          {{ content }}
        </div>
      </section>
      <footer>
        <p class="view"><small>Copyright &copy; 2006-2020 TurtleGeek.com | <a href="https://github.com/jaypalexa/turtlegeek" target="_blank">GitHub</a></small></p>
      </footer>
    </div>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/scale.fix.js"></script> 
  </body>
</html>
