body {
  font-family: "PT Serif", Lato, "Lucida Grande", Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  margin-top: .5rem;
}

h1 {
  font-size: 2.5rem;
}

.font-size-smaller {
  font-size: smaller;
}

.mt-0 {
  margin-top: 0;
}

.text-align-center {
  text-align: center;
}
